@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Open+Sans:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
}

.bg {
  background: url('https://images.unsplash.com/photo-1641087597391-786085a16f0e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=695&q=80') center center/cover no-repeat;
  filter: blur(100px);
  height: calc(100vh + 60px);
  left: -30px;
  position: absolute;
  top: -30px;
  width: calc(100vw + 60px);
  z-index: -1;
}

.loading-text {
  font-size: 50px;
  color: #fff;
}